<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">
  <style>
    /* 하트 이미지 크기 줄이기 */
    #box img[src='/src/heart1.jpg'] {
      width: 30px;
      height: auto;
    }
  </style>
</head>

<body>
  <div id="container">
    <img src="/src/logo.png" alt="로고">
    <div id="logout">
      <a id="logout_btn" href="/logout">로그아웃</a>
    </div>
  </div>

  <% for (let i=0; i <showdb.length; i++) { %>
    <div id="box">
      <h2>
        <%= showdb[i].userid %>
          <form action="/home?_method=PUT" method="POST">
            <button class="btn_follow" name="following" value="<%= showdb[i].userid %>">팔로우</button>
          </form>
      </h2>
      <img src="/src/heart1.jpg">
      <img src="/image/<%=showdb[i].postImage %>">
      <div id="text_container">
        <%= showdb[i].postText %>
      </div>
      <div id="btn">
        <div id="butn">
          <button type="button" onclick="showPreviousImage()">&lt;</button>
          <button type="button" onclick="showNextImage()">&gt;</button>
        </div>
      </div>
    </div>
    <% } %>

      <div class="button-container">
        <button><a href="http://localhost:3000/home/" target="myframe">피드페이지</a></button>
        <button><a href="http://localhost:3000/home/upload" target="myframe">업로드</a></button>
        <button><a href="http://localhost:3000/home/mypage" target="myframe">마이페이지</a></button>
      </div>
</body>

</html>