<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div id="container"><img src="/src/logo.png"></img>
  <div id="logout"><a  id="logout_btn" href="/logout">로그아웃</a>
  </div></div>
  <script>
    // 반복할 횟수 (데이터베이스 정보 가져와야함)
    const repeatCount = 5;

    // 반복해서 생성할 내용을 변수에 저장
    const content = `
      <div id="box">
        <h2>${getId()} <button>팔로우</button></h2>
        <a href="#" id="heart_image">이미지 링크</a>
        <div id="text_container"><a href="">좋아요 링크</a> ${getDatabaseText()} </div>
      </div>
    `;

    function getId(){
    // 데베에서 아이디 불러와야댐
      return "데이터베이스에서 가져온 아이디"
    }

    // 데베에서 텍스트 가져와야댐
    function getDatabaseText() {
      // 여기에 데이터베이스에서 텍스트를 가져오는 로직을 구현해야함
      return "데이터베이스에서 가져온 텍스트 내용";
    }
    // 내용 반복해서 출력
    const container = document.getElementById("container");
    for (let i = 0; i < repeatCount; i++) {
      container.innerHTML += content;
    }
  </script>
</body>
</html>