<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/menu_button.css">
</head>
<body>
  <div class="iframe-container">
    <iframe name="myframe" src="" width="100%" height="100%" frameborder="0"></iframe>
  </div>

  <div class="button-container">
    <button><a href="/index" target="myframe">index</a></button>
    <!-- 나중에 경로 수정 -->
    <button><a href="/upload" target="myframe">upload</a></button>
    <button><a href="/mypage" target="myframe">my page</a></button>
  </div>
</body>
</html>
