<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <link rel="stylesheet" href="../../public/css/mypage.css">
</head>
<body>
  <div id="container">
    <div class="profile">
      <div class="profileImage"></div>
      <div class="post"></div>
      <div class="followers"></div>
      <div class="followings"></div>
    </div>
    <div id="myPosts" class="grid-container"></div>
  </div>
</body>
</html>