<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>게시물 업로드</title>
    <link rel="stylesheet" href="/css/upload.css">
</head>

<body>
  <div id="container">

    <div id="header">
    <img src="/src/logo.png" alt="로고">
    <div id="name">FOLLOW ME</div>
    <div id="logout">
      <a id="logout_btn" href="/logout">로그아웃</a>
    </div>
  </div>

    <div id="add">
      <form action="/home/upload" class="inputImg" method="POST" enctype="multipart/form-data"> <!-- 이미지 파일 데이터에 알맞는 enctype 설정 -->
        <div id="imageCounter">0 / 0</div>
        <!-- 이미지 띄울 공간 -->
        <div class="addImage" id="imageShow">
          <div id="btn">
            <button type="button" onclick="showPreviousImage()"><</button>
            <button type="button" onclick="showNextImage()">></button>
          </div>
        </div>
        <div class="select">
          <input type="file" class="" name="postImage"accept="image/*" onchange="loadFiles(this)" multiple>
          <button type="button" onclick="deleteCurrentImage()" class="delete">삭제</button>
          <!-- 텍스트 -->
          <div class="addText">
            <textarea name="postText" class="text" maxlength="300" placeholder="300자까지 입력 가능합니다."></textarea>
          </div>
          <button id="upload">업로드하기</button>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/upload.js" defer></script>
        </form>
      </div>
    </div>
</body>

</html> 