body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#container{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  /* padding: 70px; */
  border: 1px solid black;
  border-radius: 30px;
  width: 90%;
  height: 10%;
}

#container img {
  width: 100px;
  height: 100px;
}

#name {
  font-size: xx-large;
  margin-top: 32px;
}

#logout{
  display: flex;
  padding: 10px;
  padding-left: 15px;
  padding-bottom: 12px;
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 20px;
  width: 70px;
  margin-top: 30px;
}

#logout:hover {
  background-color: rgb(127, 194, 241);
}

#logout a {
  color: white;
  text-decoration: none;
}

button {
  padding: 8px 16px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: rgb(127, 194, 241);
}

a {
  text-decoration: none;
  color: white;
}

/* a:hover {
  text-decoration: underline;
} */

div {
  margin-top: 20px;
}

.post {
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 73px;
  margin: 20px;
  width: 600px;
  height: 700px;
}

.postIdFollow {
  display: flex;
  justify-content: space-around;
}

.userid {
  margin-top: 3px;
  font-size: 33px;
}

.postImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postImage img{
  width: 400px;
  height: 400px;
}

/* #butn{
  display: flex;
  justify-content: center;
} */

.postHeart {
  margin-top: 5px;
  margin-left: 40px;
}

/* .fa-regular.fa-heart.liked {
  color: red; 
} */

#text_container {
  border: 2px solid rgb(83, 199, 128);
  width: 450px;
  height: 150px;
  margin: auto;
  padding: auto;
  margin-top: 10px;
  padding: 10px;
}
