* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 80px;
}

/* top header */
h1 {
  font-size: 30px;
}

button {
  padding: 5px 10px;
  background-color: #8FB996 ;
  color: white;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #415D43;
}

a {
  text-decoration: none;
  color: black;
}

div {
  margin-top: 20px;
}

#container{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 30px;
  width: 80%;
}

.logo{
  width: 100px;
}

#logout_btn{
  width: 90px;
}

#logout{
  display: inline-block;
  padding: 5px;
  background-color: #F9E685;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 30px 0;
}

#logout:hover {
  background-color: #B4A296;
}


#container img {
  width: 100px;
  height: 100px;
}

#name {
  font-size: xx-large;
  margin-top: 32px;
}

/* post */
.post {
  display: flex;
  flex-direction: column;
  width: 60%;

  border: 2px solid black;
  box-shadow: 5px 5px 5px #ccc;
  border-radius: 20px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 73px;
  margin: 20px;
  width: 800px;
  height: 700px;
}

.post h2 {
  display: inline-block;
  margin: 0;
}

.postIdFollow {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.userid {
  font-size: 33px;
}

.carouselBox{
  margin:auto;
  position: relative;
  /* margin-top: 100px; */
  width: 350px;
  height: 350px;
  overflow:hidden;
  justify-content: center;
}

.carousel {
  display: flex;
  /* 캐러셀 구현 */
  transition: all 0.5s;
}
.carousel .cell{
  width: 350px;
  height: 300px;
  border-radius: 20px;
}

.postIdFollow form {
  display: inline-block;
}

/* .postImage {
  width: 100%;
  margin: 10px 0;
}

.postImage img{
  width: 100%;
  height: 100%;
} */
/* .prev-button, .next-button{
  cursor:pointer;
  border-radius: 5px;
  border:1px solid black;
  display:inline-block
} */

/* #butn{
  display: flex;
  justify-content: center;
} */

.postHeart button{
  color: black;
  background-color: #E18F8F ;
}

/* .fa-regular.fa-heart.liked {
  color: red; 
} */

#text_container {
  border: 2px solid #8FB996;
  width: 450px;
  height: 150px;
  margin: auto;
  padding: auto;
  margin-top: 10px;
  padding: 10px;
}
