/* upload.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  padding-bottom: 80px;
}

#header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 30px;
  width: 80%;
  padding: 10px 20px;
  margin: 20px auto;
}

#header img {
  width: 100px;
  height: 100px;
}

#name {
  font-size: xx-large;
  margin-top: 27px;
}

#logout_btn{
    width: 90px;
  }

#logout {
  display: inline-block;
  padding: 5px;
  background-color: #f9e685;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 30px 0;
}

#logout:hover {
  background-color: #b4a296;
}

#logout a {
  color: black;
  text-decoration: none;
}

#container {
  width: 60%;
  margin: 0 20%;
}

.addImage {
  margin: auto;
  padding: auto;
  margin-top: 30px;
  width: 400px;
  height: 400px;
  border: 3px solid #8fb996;
  /* border-radius: 20px 20px / 20px 20px; */
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}

#imageCounter {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

#btn {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%); /* 버튼을 위로 50% 이동하여 수직 중앙에 배치 */
  display: flex;
  justify-content: space-between;
}

.btnshow {
  height: 100px;
  background-color: transparent;
  text-align: center;
  font-size: 30px;
  border: none;
  color: lightgray;
}

button:hover {
  color: black;
}

.select {
  text-align: center;
  margin: auto;
  padding: auto;
  margin-top: 15px;
}

.delete {
  border-radius: 10px;
  background-color: #709775;
  color: #fff;
  cursor: pointer;
  width: 100px;
  height: 30px;
  font-size: 15px;
}

.delete:hover {
  background-color: #415d43;
  color: #fff;
}

.addText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 20px;
  width: 400px;
  height: 300px;
  border: 3px solid #8fb996;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  resize: none;
  outline-color: #8fb996;
}

.text::placeholder {
  color: rgb(139, 134, 134);
}

#upload {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #8fb996;
  color: #fff;
  cursor: pointer;
  width: 100px;
  height: 30px;
  font-size: 15px;
  padding: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
#upload:hover {
  background-color: #415d43;
}
